<div class="row col-md-12">
	<div class="col-md-6">
	<!-- device/carousel -->
	<h2 class="example-title">Dispositivo</h2>
	<h4 class="example-title">Coastal Nomad-B (SouthTEK)</h4>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
		  <!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			      <img class="device" src="img/CoastalNomad-B-01.png">
			    </div>
			    <div class="item">
			      <img class="device" src="img/CoastalNomad-B-02.png">
			    </div>
			    <div class="item">
			      <img class="device" src="img/CoastalNomad-B-03.png">
			    </div>
			</div>
		  <!-- Controls -->
			<a  class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		  	<a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
		  	</a>
		</div> 
	</div>
	<div class="col-md-6">
	<!-- sector -->
		<h2 class="example-title">Visual</h2>
		<h4 class="example-title">Estrecho de Gibraltar</h4>
		<a href="#/views/campañas/tracks"><leaflet id='firstVisu' lf-center="center" paths="gliderPaths" markers="gliderPoints" event-broadcast="events"></leaflet></a>
	</div>
</div>
<div class="row col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h2 class="example-title">Stats</h2>
			<a href="#/views/campañas/statistics"><img class="statistics" src="img/statistics.jpg"></a>
          </div>
          <div class="col-md-6">
            <h2 class="example-title">Timeline</h2>
			<a href="#/views/campañas/timeline"><img class="timeline" src="img/timeline.png"></a>
          </div>
        </div>
</div>