<div class="row col-md-12 hover09">
    	<div class="btn-group-vertical">
                  <button type="button" title="Upload tsv file" class="btn btn-default buttonUpload" ngf-select ng-model="file" ngf-multiple="false"><i class="glyphicon glyphicon-open-file"></i></button>
                  <button type="button" class="btn btn-default" ngf-select="upload($files)" ngf-multiple="true" title="Upload csv files" ng-click="oceanFeatures()"><i class="glyphicon glyphicon-folder-open" ></i></button>
                  <button type="button" class="btn btn-default" title="Campañas" ng-click="gliderCreation(); newPage()"><i><img src="/img/cargo-boat.png"></i></button>
		</div>
        <figure><img src="/img/SalvamentoMaritimo.png"></figure>
</div>
