<div class="row row col-md-12">
<h2 class="example-title">Stats</h2>
<button type="button" class="btn btn-default" title="Campañas" ng-click="newPage()"><i><img src="/img/cargo-boat.png"></i></button>
</div>
<div class="row row col-md-12">
	<div class="col-md-6">
		<h3 class="text-center example-title">Gliders' pie chart by year</h3>
		<div id="myDiv" style="width: 480px; height: 380px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
	<div class="col-md-6">
		<h3 class="text-center example-title">Gliders' pie chart by year</h3>
		<div id="myDiv2" style="width: 480px; height: 380px;"><!-- Plotly chart will be drawn inside this DIV --></div>
		</div>
</div>
<div class="row row col-md-12">
	<div class="col-md-6">
		<h3 class="text-center example-title">Beufort scale (wind by year)</h3>
		<div id="myDiv3" style="width: 480px; height: 380px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
	<div class="col-md-6">
		<h3 class="text-center example-title">Current by year</h3>
		<div id="myDiv4" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
</div>
<div class="row row col-md-12">
	<div class="col-md-6">
		<h3 class="text-center example-title">TimeStamp</h3>
		<div id="myDiv5" style="width: 480px; height: 380px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
	<div class="col-md-6">
		<h3 class="text-center example-title">LengthCovered</h3>
		<div id="myDiv6" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
</div>
