<button type="button" class="btn btn-default" title="Campañas" ng-click="newPage()"><i><img src="/img/cargo-boat.png"></i></button>

<div class="col-md-12">
		<div class="col-md-6">
			<div id="WindRose0" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose1" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose2" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose3" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose4" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose5" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose6" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose7" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="WindRose8" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
		</div>
		<div class="col-md-6">
			<div id="currentRose0" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose1" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose2" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose3" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose4" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose5" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose6" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose7" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
			<div id="currentRose8" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
		</div>
<div>