<div class="row col-md-12">
      <div class="btn-group-vertical">
     			  <button type="button" class="btn btn-default" title="Campañas" ng-click="newPage()"><i><img src="/img/cargo-boat.png"></i></button>
                  <button type="button" class="btn btn-default" title="Filtrado" ng-click="newPage1()"<i><img src="/img/funnel.png"></i></button>
                  <button type="button" class="btn btn-default" title="Depurado" ng-click="newPage2()"><i><img src="/img/repair-tools.png"></i></button>
                  <button type="button" class="btn btn-default" title="Graficas" ng-click="newPage3()"><i><img src="/img/statistics.png"></i></button>
      </div>
      <leaflet lf-center="center" paths="gliderPaths" markers="gliderPoints" event-broadcast="events"></leaflet>
</div>
